@{
    Layout = null;
}
@model int

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        i=@Model<br />
        Index Time：@DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss.fff")

        @{Html.RenderPartial("View");}
    </div>
</body>
</html>
