@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        @this.ViewBag.Title<br />
        View Time：@DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss.fff")<br />
    </div>
</body>
</html>
