<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>@RenderSection("ContentHeader", false)</div>
    <div>@RenderBody()</div>
    <div>@RenderSection("ContentFooter", false)</div>
</body>
</html>
