@{
    Layout = null;
}
@using System.Reflection
@model System.Collections.IEnumerable

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <table class="table">
            <tr>
                <th>
                    课程代码
                </th>
                <th>
                    课程名称
                </th>
                <th>操作</th>
            </tr>
            @foreach (dynamic item in Model)
            {
                <tr>
                    <td>
                        @item.CourseCode
                    </td>
                    <td>
                        @item.CourseName
                    </td>
                    <td><a href="Modify?KeChengDaiMa=@item.CourseCode">修改</a></td>
                </tr>
            }
        </table>
    </div>

    @{
        if (Model == null)
        {
            Response.Write("没有数据<br />");
        }
        else
        {
            foreach (dynamic item in Model)
            {
                PropertyInfo[] propertys = item.GetType().GetProperties();
                foreach (PropertyInfo pinfo in propertys)
                {
                    Response.Write("<br>" + pinfo.Name + "," + pinfo.GetValue(item, null));
                }
                Response.Write("<br/ ><br />");
            }
        }
    }

</body>
</html>
