@model IEnumerable<Common.Models.Exam_e_CourseInfo>

@{
    Layout = "~/Views/Shared/TestLayout.cshtml";
    ViewBag.Title = "Index List";
}

@section ContentHeader{
    <h2>@ViewBag.Title</h2>
}

<table class="table">
    <tr>
        <th>
            课程代码
        </th>
        <th>
            课程名称
        </th>
        <th>操作</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.CourseCode
            </td>
            <td>
                @item.CourseName
            </td>
            <td><a href="/Test1/Modify?KeChengDaiMa=@item.CourseCode">修改</a></td>
        </tr>
    }

</table>
@{
    //var strSubmit = Html.Action("Submit");
    //Response.Write(strSubmit);
    Html.RenderAction("Submit");
}
