@model Common.ViewModels.Exam_e_CourseInfo

<h2>修改</h2>

<style type="text/css">
    .KeChengMingCheng{
        color:red;
    }
</style>
<div>
    <form name="form1" action="/Test1/Modify" method="post">
        课程代码: @Html.TextBoxFor(m => m.CourseCode, new { @class = "KeChengMingCheng", @readonly = "readonly" }) @Html.ValidationMessageFor(m => m.CourseCode) <br />
        课程名称: @Html.EditorFor(m => m.CourseName) @Html.ValidationMessageFor(m => m.CourseName) <br />
        <input type="submit" name="btnTiJiao" value="提交" />
    </form>
</div>
@{Html.RenderPartial("InnerError");}