@model Test1.Models.CeShi

<h2>Submit Result</h2>

<div>
        ID: @Model.ID<br />
        NianLing: @Model.NianLing<br />
        XingMing: @foreach (string strXingMing in Model.XingMing)
                  {
                      @strXingMing 
                  } <br />
</div>