@{
    ViewBag.Title = "Submit";
}

<h2>Submit</h2>

<div>
    DateStamp: @ViewBag.DateStamp<br />
    TempData: @TempData["name"]
</div>
<div>
    <form name="form1" action="/Test1/Submit" method="post">
        ID: <input id="txtID" name="ID" value="" /><br />
        NianLing: <input id="txtNianLing" name="NianLing" value="" /><br />
        XingMing1: <input id="txtXingMing1" name="XingMing" value="" /><br />
        XingMing2: <input id="txtXingMing2" name="XingMing" value="" /><br />
        <input type="submit" name="btnTiJiao" value="提交" />
    </form>
</div>