@using Common.ViewModels;
@model Test1.Models.CeShi

<h2>Submit Result</h2>

<div>
        ID: @Model.ID<br />
        NianLing: @Model.NianLing<br />
        XingMing: @foreach (string strXingMing in Model.XingMing)
                  {
                      @strXingMing 
                  } <br />
        CourseList:<br />
        <ul>
            @foreach (Exam_e_CourseInfo course in Model.CourseList)
            {
                <li>@course.CourseCode, @course.CourseName</li>
            }
        </ul>
</div>